.footer {
  width: 100%;
  max-width: 935px;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}

.footer__navigation .footer__list {
  display: flex;
}

.footer__list .footer__list-item {
  margin-right: 15px;
  color: #003569;
}

.footer__column .footer__copy {
  color: #999;
}
