.login {
  width: 100%;
  max-width: 745px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login .login__column {
  width: 47.5%;
}

.login__column > img {
  width: 100%;
}

.login__column .login__box {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.09);
  height: 90%;
  text-align: center;
  margin-bottom: 20px;
}

.login__box.login__box--transparent {
  background-color: transparent;
  border: none;
}

.login__column .login__box form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__column .login__box form input {
  margin-bottom: 5px;
}

.login__box .login__or {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.login__box.login__box--transparent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.login__box.login__box--transparent .login__appstores {
  display: flex;
}

.login__appstores .login__appstore {
  width: 47.5%;
  height: 10%;
  margin-top: 25px;
}
