@media screen and (min-width: 300px) and (max-width: 700px) {
  /*Orientation : landscap / portrait*/
  .header {
    margin-bottom: 30px;
  }
  .header .header__container {
    padding: 25px 40px;
  }
  .header__container form {
    display: none;
  }
  .explore__users .explore__user {
    border: 0;
  }
  .footer {
    width: 95%;
  }
  .footer,
  .footer__navigation .footer__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__list .footer__list-item {
    margin-bottom: 10px;
  }
  .feed .photo {
    background-color: transparent;
    border: 0;
    margin-bottom: 0px;
  }
  .photo__meta .photo__add-comment {
    display: none;
  }
  .login .login__column:first-child {
    display: none;
  }
  .login .login__column {
    /*no more 47.5%*/
    width: 100%;
  }
  .login__column .login__box {
    background-color: transparent;
    border: 0;
  }
}
